@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    /* box model */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* typography */
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    color:hsl(238, 29%, 16%);
    /* visual */
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.frequently-asked-questions {
    /* box model */
    display: flex;
    width: 70vw;
    height: 70vh;
    margin-top: 3vh;
    /* visual */
    border-radius: 15px;
    background-color:white;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-size: 60vw;
    background-position: left -280% bottom 40%;
    background-repeat: no-repeat;
    overflow: hidden;
}



.art-deco {
    /* box model*/
    width: 35vw;
    overflow: hidden;
}

#woman-online {
    /* positioning */
    position: relative;
    top: 5vh;
    left: -8vw;
    /* box model*/
    width: 37vw;
}


.illustration-box {
    /* positioning */
    position: fixed;
    left: 7vw;
    bottom: 33vh;
    /* box model */
    width: 15vw;
}

.box-moved {
    left: 4vw;
}

.faq {
    /* box model */
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
}

header {
    /* box model */
    margin: 1rem 0;
    /* typography */
    font-size: 2rem;
    font-weight: 700;
}

hr {
    /* box model */
    width: 100%;
    margin: 0;
    /* typography */
    color: hsl(240, 5%, 91%);
}

.q {
    /* box model */
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 1rem 0;
}
.q:hover {
    /* typography */
    font-weight: 400;
    color: hsl(14, 88%, 65%);
}

.q-clicked {
    font-weight: 700;
}

.a {
    display: none;
    color: hsl(237, 12%, 33%);
}

.opened {
    display: block;
    margin: 1rem 0;
}

.arrow-icon-down {
    align-self: center;
}

.arrow-icon-up {
    transform: rotate(180deg);
}

.attribution {
    font-size: 0.75em;
    text-align: center;
    margin: 1vh;
    padding: 1vh;
    border-radius: 10px;
    color: white;
}

.attribution a {
    color:hsl(14, 88%, 65%);
}

.attribution a:hover {
    color: hsl(238, 29%, 16%);
}

.attribution a:visited {
    color:white;
}

@media (max-width: 500px) {
    .body {
        background-image: url('./images/bg-pattern-mobile.svg');
        background-position: top;
    }

    .frequently-asked-questions {
        width: 90vw;
        height: 80vh;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        background-position: top;
        background-repeat: no-repeat;
        background-image: url('./images/bg-pattern-mobile.svg');
        background-position: top;
    }

    .art-deco {
        width: 48vw;
        height: 30vh;
        position: absolute;
        top: 2vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-image: url('./images/illustration-woman-online-mobile.svg');
        background-position: top;
        background-repeat: no-repeat;
    }

    .illustration-box, 
    #woman-online {
        display: none;
    }

    header {
        text-align: center;
        margin: 3vh 0 2vh 0;
    }

    .faq {
        width: 85%;
        margin: 10vh auto;
        font-size: 0.9rem;
    }
}